@import '~/src/styles/constants';

div.menu-panel {
    border-left: 1px solid $navbar_border;
    background: $navbar_background;
    display: block;
    right: -512px;
    float: right;
    height: 100%;
    width: 512px;
}
