@import '~/src/styles';

main.content-root {
    overflow: hidden !important;
    pointer-events: all;
    position: fixed;
    display: block;
    z-index: 100;
    height: 100%;
    width: 100%;
}

main.ui-root {
    overflow: hidden !important;
    pointer-events: none;
    position: fixed;
    display: block;
    z-index: 200;
    height: 100%;
    width: 100%;

    div.interface-container {
        position: relative;
        height: 100%;
        width: 100%;
        * { pointer-events: all; }
    }
}

// body, html, #app, .root {
//     background: #FEFEFE;
// }
