@import '~/src/styles';

main.overlay {
    pointer-events: none;
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;

    div {
        &.ui-container {
            position: relative;
            height: 100%;
            width: 100%;

            * {
                pointer-events: all;
                position: absolute;
            }
        }
    }
}

body, html, #app, .root {
    background: #FEFEFE;
}
